.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "top-left top-right"
    "bottom bottom";
  min-height: 100vh;
  gap:16px;
  overflow-y: auto;
}

.top-left {
  grid-area: top-left;
}

.top-right {
  grid-area: top-right;
}

.bottom {
  grid-area: bottom;
}